#################################################################
#    ________  ________  _______   ________  ________ 
#   |\   __  \|\_____  \|\  ___ \ |\   __  \|\   __  \  
#   \ \  \|\  \\|___/  /\ \   __/|\ \  \|\  \ \  \|\  \
#    \ \   __  \   /  / /\ \  \_|/_\ \   _  _\ \   __  \
#     \ \  \ \  \ /  /_/__\ \  \_|\ \ \  \\  \\ \  \ \  \
#      \ \__\ \__\\________\ \_______\ \__\\ _\\ \__\ \__\
#       \|__|\|__|\|_______|\|_______|\|__|\|__|\|__|\|__|\
#                                  Support: AzeraRP server
#################################################################


{{serverEndpoints}}
sv_maxclients {{maxClients}}
set steam_webApiKey "none"
sets tags "default, deployer, plume esx"

sv_licenseKey "{{svLicense}}"
sv_hostname "{{serverName}} built with {{recipeName}} by {{recipeAuthor}}!"
sets sv_projectName "{{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets locale "root-AQ" 
set mysql_connection_string "{{dbConnectionString}}"


ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure default_spawnpoint

add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
{{addPrincipalsMaster}}


ensure mysql-async
ensure cron
ensure instance
ensure skinchanger
ensure es_extended
ensure esx_menu_default
ensure esx_menu_dialog
ensure esx_menu_list
ensure esx_datastore
ensure esx_identity
ensure esx_skin
ensure esx_status
ensure esx_basicneeds
ensure esx_billing
ensure esx_addoninventory
ensure esx_addonaccount
ensure esx_society
ensure esx_license
ensure esx_service
ensure esx_garage
ensure esx_vehicleshop
ensure esx_jobs
ensure esx_joblisting
ensure esx_policejob
ensure esx_ambulancejob
ensure esx_mechanicjob
ensure esx_taxijob
ensure esx_lscustom
ensure esx_atm
ensure esx_shops
ensure esx_weaponshop
ensure esx_clotheshop
ensure esx_barbershop
ensure esx_drugs
ensure esx_holdup

add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_ace group.admin easyadmin allow

ensure bob74_ipl
ensure esx_adminplus
ensure gcphone
ensure Kl_HudV2
ensure loadingscreen
ensure simpledrift

ensure EasyAdmin
